{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }} 
    <section>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h2 class="py-2">Acerca del creador</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus esse earum consectetur amet tenetur iure? Reprehenderit, illo esse tenetur voluptas optio ut quas iste, tempore aliquid totam impedit neque harum!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati cum, ipsam, iure maxime minima ipsum repellat dicta consequatur suscipit tenetur vero temporibus molestias voluptatibus quaerat earum recusandae! Accusantium, quidem perferendis.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero a, recusandae mollitia tempore fuga excepturi asperiores commodi debitis ducimus nulla ut? Sit excepturi, perspiciatis accusantium laborum officia repellendus earum vitae.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores officia deleniti libero tempore ducimus provident ex exercitationem voluptatum fugiat totam, distinctio nesciunt tenetur quibusdam corporis nostrum autem voluptates earum illo.</p>
                    <ul class="py-3">
                        <li><a href="https://www.linkedin.com/in/javier-tapia-01001010" target="_blank">LinkedIn</a></li>
                        <li><a href="https://github.com/javier-tapia" target="_blank">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{{ end }}